
p
{
	color: red;
	text-align: center;
	color: red;
	 font-family: cursive;
}
/*table{
	width: 40%;
	padding:5px;
	 text-align: center;

}
*/
.adress{
	display: block;
	font-style: italic;
}


